@model UpdateStudentRequest

@{
    ViewData["Title"] = "Update a Student";
}

<h1 class="bg-info text-white">Update a Student</h1>
<a asp-action="Read" class="btn btn-secondary">View all Students</a>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Standard"></label>
        <input type="text" asp-for="Standard" class="form-control" />
        <span asp-validation-for="Standard" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rank"></label>
        <input type="text" asp-for="Rank" class="form-control" />
        <span asp-validation-for="Rank" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form> 